<style>
table {
  width: 100%;
}

th {
  text-align: left;
}
</style>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Totals Queries</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <% for(var profileStat in profileStats) { %>
      <tr>
        <td><%= profileStat.collection %></td>
        <td><%= profileStat.operations.total %></td>
        <td>
        <% for(var operation in profileStat.operations) { %>
          <% if (operation != "total") { %>
            <%= operation + ":" + profileStats.operations[operation] %>
          <% } %>
        <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>